body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #0f0f0f;
    color: white;
}

#spiel {
    margin-top: 3rem;
}

.karte {
    display: flex;
    justify-content: center;
    margin: 20px;
}


button {
    padding: 10px 20px;
    font-size: 1em;
    background: #333;
    color: white;
    border: 2px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background: #34a134;
    color: #2b1010;
}

.karte button {
    width: 200px;
    height: 300px;
    margin: 10px;
    background-image: url("../../../assets/games/images/icons8-muster-96.png");
    background-size:140% 140%;
    background-position: center;
    border: 2px solid #333;
    border-radius: 10px;
    font-size:9em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
}
.karte button:hover {
        background: #7644a5;
        color: white;
    }

.karte button::before,
.karte button::after {
    content: attr(data-value);
    position: absolute;
    font-size: 20px;
}
.karte button::before{
    top: 5px; left: 5px;
}
.karte button::after{
    bottom: 5px; right: 5px;
}

.karte button.selected {
    border: 3px solid #d9f755;
    box-shadow: 0 0 16px rgba(111, 240, 111, 0.8);
    background: rgb(148, 154, 158);
}

.punktestand {
   display: flex;
   gap: 0.8em;
    justify-content: center;
    margin: 1rem;
}

.kreis {
    width: 36px;
    height: 36px;
    border: 2px solid #333;
    border-radius: 50%;
    background: transparent;
}

#nachricht {
    margin: 20px;
    font-weight: bold;
    font-size: large;
    color: #127e12;
}



/* durch Effekte von js */
.kreisA.active {background: #34a134;}
.kreisB.active {background: #db3e4b;}
#kreisC1.spielerGewinnt {background: #34a134;}
#kreisC1.computerGewinnt {background: #db3e4b;}
.karte button.umgedreht {background: rgb(148, 154, 158);}

