body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #0f0f0f;
    color: white;
}

#spiel {
    margin-top: 3rem;
}

.karten {
    display: flex;
    justify-content: center;
    margin: 20px;
}


button {
    padding: 10px 20px;
    font-size: 1em;
    background: #333;
    color: white;
    border: 2px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background: #34a134;
    color: #2b1010;
}

.karten button {
    width: 200px;
    height: 300px;
    margin: 10px;
    background: rgb(167, 165, 165);
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
.karten button:hover {
        background: #7644a5;
        color: white;
    }

.karten button.selected {
    border: 4px solid #ffd700;
    box-shadow: 0 0 16px rgba(255, 215, 0, 0.8);
}


.punktestand {
   display: flex;
   gap: 0.8em;
    justify-content: center;
    margin: 1rem;
}

.kreis {
    width: 36px;
    height: 36px;
    border: 2px solid #333;
    border-radius: 50%;
    background: transparent;
}

.kreisA.active {background: #34a134;}
.kreisB.active {background: #db3e4b;}
#kreisC1.spielerGewinnt {background: #34a134;}
#kreisC1.computerGewinnt {background: #db3e4b;}


#nachricht {
    margin: 20px;
    font-weight: bold;
    font-size: large;
    color: #127e12;
}